@model IEnumerable<Doable.Models.User>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Customers";
}
<br />
<br />
<div class="d-flex justify-content-between align-items-center mb-3">
    <div>
        <a asp-action="Create" class="btn btn-primary">+ New Account</a>
    </div>
    <div class="d-flex">
        <form id="searchForm" asp-controller="Customer" asp-action="Index" method="get" class="form-inline">
            <input type="text" name="searchString" id="searchInput" class="form-control mr-2" placeholder="Search Accounts..." value="@ViewData["CurrentFilter"]" />
        </form>
    </div>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email Address</th>
            <th>Phone #</th>
            <th>Created By</th>
            <th>Creation Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Username</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.CreatedBy</td>
                <td>@item.CreationDate</td>
                <td>
                    @*a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-warning">Edit</a>*@
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        // Debounce function to limit the rate at which a function can fire.
        function debounce(func, wait) {
            let timeout;
            return function () {
                const context = this, args = arguments;
                clearTimeout(timeout);
                timeout = setTimeout(() => func.apply(context, args), wait);
            };
        }

        // Function to submit the form
        function submitForm() {
            document.getElementById('searchForm').submit();
        }

        // Adding keyup event listener to the search input with debounce
        document.getElementById('searchInput').addEventListener('keyup', debounce(submitForm, 500));
    </script>
}