@model IEnumerable<Doable.Models.User>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewData["Title"] = "Customers";
}

<h1>Customer List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Customer</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email Address</th>
            <th>Phone #</th>
            <th>Created By</th>
            <th>Creation Date</th>
            <th>Role</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.Username</td>
                <td>@item.Email</td>
                <td>@item.PhoneNumber</td>
                <td>@item.CreatedBy</td>
                <td>@item.CreationDate</td>
                <td>@item.Role</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>